<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #555;
            outline: none;
        }

        input[type=text]:focus {
            background-color: lightblue;
        }
        body{
            background-color: darkgray;
        }
    </style>
</div>

<div>
    <!-- action is the path to our POST action, method = blog -->
    <form action="/v2/blogs" method="post">
        <!-- boring html inputs! the "name" matches the @RequestParam's on the controller -->
        <input type="text" name="username" th:value="${username}" hidden/></br>
        <p>Content</p><input type="text" name="body"/></br>
        <button type="submit">Submit</button>
    </form>


</div>
<div>
    <h3> Your Posts : </h3>
    <ul th:each="posts:${blogs}" style="width: 70%;">
        <li >Post :<span th:text="${posts.body}"></span><br/>
        <li >Time :<span th:text="${createdAt}"></span><br/>
        <li >Posted By :<span th:text="${username}"></span><br/>
        <form th:action="@{/delete/blog/{id}(id=${posts.id})}" method="post">
            <button type="submit">Delete</button>
        </form>
        <br>

                <a th:href="@{/edit/blog/{id}(id=${posts.id})}" class="col-md-2">
                    <button type="submit">Edit</button>
                </a>
<br>
        <br>
        <a th:href="@{'/commentPost/{id}'(id=${posts.id})}" class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" th:text="Comment">Comment</button>
        </a>

        <br/>
    </ul>
</div>
<!--<form th:action="@{/logout}" method="posts">-->
<!--    <input type="submit" value="Sign Out"/>-->
<!--</form>-->

</body>
</html>
