
<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password Form</title>
    <!--    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>-->
    <link th:rel="stylesheet" th:href="@{/css/style.css}"/>

    <link
            href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
            rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<img class="wave" th:src="@{/img/wave.png}" />
<div class="container">
    <div class="img"></div>
    <div class="login-content">

        <form th:action="@{/reset_password}" method="posts" style="max-width: 350px; margin: 0 auto;">
            <img th:src="@{/img/reset.gif}" />
            <h2 class="title">Reset Your 🔑</h2>

            <input type="hidden" name="token" th:value="${token}" />
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" required autofocus />

                </div>

            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" class="form-control" placeholder="Confirm your new password"
                           required oninput="checkPasswordMatch(this);" />
                </div>
            </div>
            <input type="submit" value="Change Password"  class="btn btn-primary" />
        </form>
        <script>
            function checkPasswordMatch(fieldConfirmPassword) {
                if (fieldConfirmPassword.value != $("#password").val()) {
                    fieldConfirmPassword.setCustomValidity("Passwords do not match!");
                } else {
                    fieldConfirmPassword.setCustomValidity("");
                }
            }
        </script>
        <!--        <form th:action="@{/forgot_password}" method="posts">-->
        <!--            <img th:src="@{/img/forgot.gif}" />-->
        <!--            <h2 class="title">Don't Panic!</h2>-->



        <!--            <a th:href="@{/api/login}">Still know the password?</a>-->
        <!--            <input type="submit" class="btn" value="Send Email" />-->
        <!--        </form>-->

    </div>
</div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>
